*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle
*.iml
gradlew
gradlew.bat
local.properties
build
.idea
app/release/MineClearance.apk
app/src.zip
